.content {
  border: solid 1px black;
  margin: 5px;
  padding: 5px;
  background-color: black;
}
.view {
  border: solid 1px black;
  margin: 5px;
  padding: 5px;
  background-color: white;

}
.ng-hide {
  height: 0;
  width: 0;
}

.display{
  margin-left: 20px;
}
body {
background-color: whitesmoke;
}


@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

a, h1, h3, h4{
  font-family: 'Fjalla One', sans-serif;
}

a{
  color:gainsboro;
  margin-left: 20px;
}
img {
  width: 11%;
  position:relative;
  border: 10px;
}
